.counterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.counterBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}
